<div class="title">
	<h3>{{this.title}}</h3>
</div>

<div class="artist">	
	<p>by {{this.artist.name}}</p>
</div>

<div class="link">	
	<div class="connect dz">
		<a target="_blank" rel="noopener noreferrer" class="inner" href="{{this.link}}">Listen on Deezer</a>
	</div>
</div>