<section class="wrapper-feed">
  <section class="left-bar">
    <div class="user-info">
      <h5>Username</h5>
      <p>Logged in with</p>
    </div>
    <div class="matches">
      <h5>Matches of the day</h5>
      
    </div>
  </section>




  <section class="whole-feed">
    <div class="feed-title">
      <p>Your feed</p>
    </div>




  </section>
</section>