{{>flash_messages}}


<section class="top-section">
  <div class="title">
    <h2>Flowse</h2>
  </div>

  <div class="logoapi">
    <img src="images/Spotify_Icon_RGB_Green.png" alt="Spotify">
    <img src="images/deezer logo.png" alt="Deezer">
    <img src="images/lastfm_avatar_twitter.66cd2c48ce03.png" alt="LastFM">
  </div>
</section>

<section class="second">
  <div class="box boxone">
    <div class="textbox">
    <h3>Discover new music everyday</h3>
    <p>Your feed is your best friend, look up to your matches, the most famous songs and the ones we propose to always discover new songs !</p>
    </div>
  </div>

  <div class="box boxsecond">
    <div class="textbox">
    <h3>All of your best tastes, in one and only application</h3>
    <p>Generate songs related to your tastes<br>
    We make you listen to the songs you'll like the most, just like your favourite dj would do</p>
    </div>
  </div>

  <div class="box boxthird">
    <div class="textbox">
    <h3>Mingle with the people that you want to know</h3>
    <p>There's no way for you to be the only one to like that song so much, huh ? <br>
    When you listen to the same songs 5 times or more, we create a match with the people who have the same tastes as you do</p>
    </div>
  </div>

  <div class="box boxfourth">
    <div class="textbox">
    <h3>Discover the best gigs around you</h3>
    <p>You'll be able to go to the gigs with the people that you match, so that you'll enjoy you favorite music et meet new people, now in real life !</p>
    </div>
  </div>
</section>
