{{>flash_messages}}


<section class="top-section">
  <div>
    <div class="title">
      <h2>flowse.</h2>
      <h4>CatchPhrase</h4>
    </div>

    <div class="logoapi">
      <img src="images/Spotify_Icon_RGB_Green.png" alt="Spotify">
      <img src="images/deezer logo.png" alt="Deezer">
      <img src="images/lastfm_avatar_twitter.66cd2c48ce03.png" alt="LastFM">
    </div>

    <div class="logsign">
      <a href="/signup">Create your account</a>
    </div>
  </div>
</section>

<section class="second">
  <div class="box">

      <video src="videos/partyvideo.mov" autoplay loop>
      </video>

      <div class="textbox">
          <h3 class="ttle-one">Discover new music everyday</h3>
          <h3 class="ttle-two">All of your best tastes, in one and only application</h3>
          <h3 class="ttle-three">Mingle with the people that you want to know</h3>
          <h3 class="ttle-four">Discover the best gigs around you</h3>
      </div>

  </div>
</section>

<section class="third-section">
  <div class="message-box">
    <h5>
      Your feed is your best friend, look up to your matches, 
      the most famous songs and the ones we propose to always discover new songs !
    </h5>
  </div>

  <div class="message-box">
    <h5>
      Generate songs related to your tastes     
      We make you listen to the songs you'll like the most, just like your favourite dj would do
    </h5>
  </div>

  <div class="message-box">
    <h5>
      There's no way for you to be the only one to like that song so much, huh ?
      When you listen to the same songs 5 times or more, we create a match with the people who have the same tastes as you do
    </h5>
  </div>

  <div class="message-box">
    <h5>
      You'll be able to go to the gigs with the people that you match, 
      so that you'll enjoy you favorite music and meet new people, now in real life !
    </h5>
  </div>
</section>


