<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

	<header>
		<nav>
			<div class="nav-element">
				<a href="/" class="logo">flowse.</a>
			</div>
			
			<div class="nav-element">
				<a href="/generate">Generate</a>
			</div>

			<div class="nav-login">
				{{#if currentUser}}
				<a href="/logout">Logout</a>
				
				<a href="/account">My Account</a>
				<a href="/feed">My feed</a>
				{{else}}
				<a href="/login">Login</a>
				<a href="/signup">Signup</a>
				{{/if}}

			</div>

		</nav>
	</header>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
	<script src="/javascripts/feed-jv.js"></script>
</body>
</html>