@font-face {
  font-family: Euclid;
  src: url("/fonts/Euclid.woff"); }

@font-face {
  font-family: NewParis;
  src: url("/fonts/NewParis.woff2"); }

@font-face {
  font-family: Euclid-Light;
  src: url("/fonts/Euclid-Light.woff"); }

@font-face {
  font-family: Sofia-Pro-Light;
  src: url("/fonts/sofiapro-light.otf"); }

body {
  padding: 0;
  margin: 0;
  font-family: 'Euclid-Light';
  background-color: #2F2F2F; }

h1, h2, h3 {
  font-family: 'Euclid';
  color: white; }

.flex-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%; }

nav {
  background-color: #353535;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px; }
  nav .logo {
    font-family: 'Sofia-Pro-Light';
    font-size: 40px; }
  nav a {
    text-decoration: none;
    color: white; }

h2 {
  font-size: 120px;
  margin: 0px 0 20px 0;
  padding-left: 10%; }

.error-message, .success-message {
  font-size: 20px;
  color: white; }

.card {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding: 15px;
  color: white;
  background-color: #383838;
  font-size: 15px;
  border-radius: 8px;
  width: 500px;
  box-shadow: 5px 10px 30px #2A2727; }
  .card h2 {
    padding-left: 40px;
    margin-bottom: 0;
    font-size: 40px; }
  .card form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 480px; }
    .card form label {
      margin-top: 20px;
      font-family: 'Euclid';
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%; }
      .card form label input {
        display: inline-block;
        width: 70%;
        height: 20px;
        padding: 10px;
        border: none;
        border-radius: 30px;
        background-color: #2E2E2E;
        color: white; }
      .card form label textarea {
        padding: 10px;
        border: none;
        color: white;
        border-radius: 20px;
        background-color: #2E2E2E; }
      .card form label label:has(textarea) {
        align-self: flex-start; }
    .card form .button-right {
      display: flex;
      justify-content: flex-end;
      margin-left: 430px;
      margin-top: 50px; }
      .card form .button-right .button-anim {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 200Px;
        transition-duration: 0.5s ease-in-out;
        height: 30px;
        font-size: 13.3px;
        font-family: 'Euclid-Light'; }
        .card form .button-right .button-anim button {
          font-family: 'Euclid-Light';
          border: none;
          background: none;
          color: white;
          font-size: 20px;
          text-align: right; }

.button-anim:hover button {
  padding-right: 10px; }

.connect-with {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  width: 400px; }

.sp {
  background-color: #1DB954; }

.lf {
  background-color: #BA0000; }

.dz {
  background-color: #2692B7; }

.icon-image {
  height: 18px; }

.connect {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
  box-shadow: 10px 15px 30px #2E2E2E; }
  .connect a {
    color: transparent;
    text-decoration: none;
    transition-delay: 0;
    transition-duration: 0.05s; }
  .connect .icon {
    position: relative;
    left: 27px;
    color: #2E2E2E;
    text-align: center;
    z-index: 100;
    transition-duration: 0.1s; }

.connect:hover {
  width: 180px; }

.connect:hover .inner {
  color: white;
  transition-delay: 0.3s;
  transition-duration: 0.3s; }

.connect:hover .icon {
  display: none; }

.results .card {
  flex-direction: column;
  width: 800px; }
  .results .card .one-track {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .results .card .one-track p, .results .card .one-track h3 {
      font-family: 'Sofia-Pro-Light'; }
    .results .card .one-track .title {
      width: 40%; }
    .results .card .one-track .artist {
      width: 30%; }
    .results .card .one-track .link {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center; }
    .results .card .one-track .sp {
      background-color: #8EF3B1; }
    .results .card .one-track .lf {
      background-color: #D68F8F; }
    .results .card .one-track .dz {
      background-color: #81C8DF; }
    .results .card .one-track .sp:hover {
      background-color: #1DB954; }
    .results .card .one-track .lf:hover {
      background-color: #BA0000; }
    .results .card .one-track .dz:hover {
      background-color: #2692B7; }

.account .card {
  width: 500px;
  flex-direction: column; }
  .account .card h4 {
    display: block; }
  .account .card ul {
    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content: space-evenly; }
    .account .card ul li {
      display: inline-block;
      list-style-type: none; }

.account .detail input {
  width: 60%; }

.account .detail .button-right {
  margin-left: 410px; }

.account .cancel:hover {
  width: 120px; }

.account .connect-with .icon {
  left: 50px; }

.account .connect-with .info {
  background-color: transparent;
  border: 1px solid white; }
  .account .connect-with .info .icon {
    color: white;
    left: 38px; }

.account .connect-with .serv {
  background-image: linear-gradient(to right, #8EF3B1, #81C8DF, #D68F8F, #E6996F); }

.account .connect-with .serv:hover a {
  color: #2E2E2E; }

.account .connect-with .cancel {
  background-color: #3AE8AB; }
  .account .connect-with .cancel .icon {
    left: 28px; }

.account .connect-with .delete {
  background-color: #F03D3D; }
  .account .connect-with .delete .icon {
    left: 30px; }

.account .connect-with .perm .icon {
  left: 44px; }

.services .modify {
  width: 280px; }
  .services .modify .one-service {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .services .modify .one-service .service-modify {
      margin-top: 0;
      width: 180px; }
      .services .modify .one-service .service-modify .add {
        background-color: #1DB954; }
        .services .modify .one-service .service-modify .add .icon {
          left: 15px; }
      .services .modify .one-service .service-modify .remove {
        background-color: #E83A3A; }
        .services .modify .one-service .service-modify .remove .icon {
          left: 28px; }
      .services .modify .one-service .service-modify .add:hover {
        width: 70px; }
      .services .modify .one-service .service-modify .remove:hover {
        width: 100px; }

.top-section {
  width: 80%;
  height: 400px;
  margin: 25px auto;
  border: 1px solid black; }

.title h2 {
  text-align: center;
  padding-left: 0%; }

.title:hover h2 {
  color: black;
  transition-duration: 0.5s; }

.logoapi {
  display: flex;
  justify-content: center; }

.logoapi img {
  margin: 0px 30px;
  width: 75px;
  height: 75px; }

.second {
  width: 80%;
  margin: 25px auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: 1px solid black; }

.box {
  width: 700px;
  height: 350px;
  margin: 25px auto; }

.boxone {
  background-image: url("../images/headphones-man-music-374777.jpg");
  background-size: cover; }

.boxsecond {
  background-image: url("../images/abstract-art-atraction-1060901.jpg");
  background-size: cover; }

.boxthird {
  background-image: url("../images/backlit-bonding-casual-708392.jpg");
  background-size: cover; }

.boxfourth {
  background-image: url("../images/adult-applause-audience-952437.jpg");
  background-size: cover; }

.textbox {
  width: 250px;
  height: 200px;
  background-color: rgba(255, 255, 200, 0.7);
  border-radius: 3px;
  box-sizing: border-box; }

.columns {
  display: flex;
  justify-content: center;
  width: 90%; }

.section-title {
  width: 100%; }

.edit {
  display: flex;
  justify-content: flex-end; }
  .edit .edit-btn {
    background-color: #3AE8AB; }

.pad-left {
  margin-left: 3%; }

.user-info-profile {
  flex-direction: column; }

.user-services {
  flex-direction: column; }
  .user-services ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around; }
    .user-services ul li {
      display: inline-block; }

.user-tracks {
  width: 700px;
  flex-direction: column;
  justify-content: flex-start; }
  .user-tracks .track-list {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .user-tracks .track-list .one-track {
      width: 40%;
      margin-bottom: 30px;
      background-color: #2E2E2E;
      border-radius: 4px;
      padding: 15px; }
      .user-tracks .track-list .one-track .title {
        word-wrap: normal; }

.textbox p {
  font-size: 15px; }

.wrapper-feed {
  width: 1100px;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  margin-top: 25px; }

.left-bar {
  width: 30%;
  border: 1px solid black;
  height: 800px;
  display: flex;
  align-items: center;
  flex-direction: column; }

.user-info {
  height: 200px;
  border: 1px solid yellow;
  text-align: center;
  color: white; }

.user-info h5 {
  font-size: 20px;
  border-bottom: 1px solid black; }

.matches {
  height: 200px;
  border: 1px solid yellow;
  text-align: center;
  color: white;
  margin-top: 20px; }

.matches h5 {
  font-size: 20px;
  border-bottom: 1px solid black; }

.whole-feed {
  width: 70%;
  border: 1px solid black;
  height: 800px;
  display: flex;
  justify-content: center; }

.feed-title {
  font-size: 30px;
  color: white;
  border-bottom: 1px solid black;
  height: 60px;
  padding-bottom: 10px; }

/*# sourceMappingURL=style.css.map */