<h2>Modify personal info.</h2>

<div class="flex-center account">
	<div class="card detail">
		{{>flash_messages}}


		<form action="/account/modify/process-changes" id="login-form" method="POST">
			<label>
				Username: 
				<input type="text" name="userName" value="{{currentUser.userName}}"  required="true">
			</label>
			
			<label>
				Email: 
				<input type="email" name="email" value="{{currentUser.email}}" required="true">
			</label>

			<label>
				Current password: 
				<input type="password" name="originalPassword" required="true">
			</label>

			<label>
				New password: 
				<input type="password" name="newPassword">
			</label>

			<label>
				About me:
				<textarea type="text" form="login-form" name="description" value="{{currentUser.description}}" rows="10" cols="27"></textarea>
			</label>

			<div class="button-right">
				<div class="button-anim">
					<button>Save changes</button>
					<i class="fas fa-long-arrow-alt-right"></i>
				</div>
			</div>
		</form>
	</div>

	<div class="connect-with">
		<div class="connect cancel">
			<i class="fas fa-undo icon"></i>
			<a class="inner" href="/account">Cancel</a>
		</div>
		<div class="connect delete">
			<i class="fas fa-trash-alt icon"></i>
			<a class="inner" href="/account/modify/confirm-delete">Delete account</a>
		</div>
	</div>

</div>
