<h2>Overview.</h2>

<div class="flex-center account">
	
		{{>flash_messages}}

	<div class="card overview">
		

		<h2>General info</h2>

		<h4>User Name: {{currentUser.userName}}</h4>

		<h4>Email: {{currentUser.email}}</h4>

		<h2>Connected Services:</h2>

		
		<ul>
			{{#if currentUser.tokens.spotifyToken}}
			<li>
				<h4>Spotify</h4>
			</li>
			{{/if}}

			{{#if currentUser.tokens.soundcloudToken}}
			<li>
				<h4>SoundCloud</h4>
			</li>
			{{/if}}

			{{#if currentUser.tokens.deezerToken}}
			<li>
				<h4>Deezer</h4>
			</li>
			{{/if}}

			{{#if currentUser.tokens.lastfmToken}}
			<li>
				<h4>Last.fm</h4>
			</li>
			{{/if}}
		
		</ul>
	</div>

	<div class="connect-with">
		
		<div class=" connect info">
			<i class="fas fa-pencil-alt icon"></i>
			<a class="inner" href="/account/modify">Modify personnal info</a>
		</div>	

		<div class=" connect serv">
			<i class="fas fa-bars icon"></i>
			<a class="inner" href="/account/services">Add/Remove services</a>
		</div>

	</div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
<script src="/javascripts/feed-jv.js"></script>