<h2>Are you sure ?</h2>

<div class="flex-center account">
	<div class="card delete">
	{{>flash_messages}}

		<h4>Pressing the red button will permanenly delete your account.</h4>
		<h4>Press the blue button to cancel.</h4>

		<div class="flex-center">	
			<div class="connect-with">
				<div class="connect delete perm">
					<i class="fas fa-trash-alt icon"></i>
					<a class="inner" href="/account/modify/delete">Delete Permanently</a>
				</div>	
			</div>
		</div>
	

	</div>

	<div class="connect-with">
		<div class="connect cancel">
			<i class="fas fa-undo icon"></i>
			<a class="inner" href="/account/modify">Cancel</a>
		</div>	
	</div>

</div>