<h2>Log in.</h2>

<div class="flex-center">
	

<div class="form-card">
	
	{{>flash_messages}}
<form action="/auth/default" method="POST">


	<label>
		<p>Email</p>
		<input type="email" name="email" placeholder="Your email">
	</label>

	<label>
		<p>Password</p>
		<input type="password" name="originalPassword" placeholder="It's a secret">
	</label>

	<div class="button-right">
		<button>Log in <i class="fas fa-long-arrow-alt-right"></i></button>
	</div>
</form>
</div>

<div class="connect-with">
	<div class="connect sp">
		<a class="hidden" href="/auth/spotify">Log in with Spotify</a>
	</div>

	<div class="connect lf">
		<a class="hidden" href="/auth/lastfm">Log in with Last.fm</a>
	</div>

	<div class="connect dz">
		<a class="hidden" href="/auth/deezer">Log in with Deezer</a>
	</div>
</div>

</div>
