<h2>Log in.</h2>

<div class="flex-center">
	
<div class="card">
	
{{>flash_messages}}

<form action="/auth/default" method="POST">

	<label>
		<p>Email</p>
		<input type="email" name="email">
	</label>

	<label>
		<p>Password</p>
		<input type="password" name="originalPassword">
	</label>

	<div class="button-right">
		<div class="button-anim">
			<button>Log in</button>
			<i class="fas fa-long-arrow-alt-right"></i>
		</div>
	</div>
</form>
</div>

<div class="connect-with">
	<div class="connect sp">
		<i class="fab fa-spotify icon"></i>
		<a class="inner" href="/auth/spotify">Log in with Spotify</a>
	</div>

	<div class="connect lf">
		<i class="fab fa-lastfm icon"></i>
		<a class="inner" href="/auth/lastfm">Log in with Last.fm</a>
	</div>

	<div class="connect dz">
		<img src="images/deezer-logo.svg" class="icon icon-image">
		<a class="inner" href="/auth/deezer">Log in with Deezer</a>
	</div>
</div>

</div>
