<h2>Sign Up.</h2>

<div class="flex-center">
	
<div class="card">
	
{{> flash_messages}}

<form action="/process-signup" method="POST">
	
	<label>
		Full name:
		<input type="text" name="userName">
	</label>

	<label>
		Email:
		<input type="email" name="email" placeholder=>
	</label>

	<label>
		Password:
		<input type="password" name="originalPassword">
	</label>
	
	<div class="button-right">
		<div class="button-anim">
			<button>Sign Up</button>
			<i class="fas fa-long-arrow-alt-right"></i>
		</div>
	</div>
</form>
</div>

<div class="connect-with">
	<div class="connect sp">
		<a class="inner" href="/auth/spotify">Sign up with Spotify</a>
	</div>

	<div class="connect lf">
		<a class="inner" href="/auth/lastfm">Sign up with Last.fm</a>
	</div>

	<div class="connect dz">
		<a class="inner" href="/auth/deezer">Sign up with Deezer</a>
	</div>
</div>

</div>